@charset "UTF-8";
* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

* {
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.header-secciones {
  /* Clase para todos los header de la página */
  color: whitesmoke;
  background-color: #a39a9a;
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-weight: bold;
  text-align: center;
  margin-bottom: 0rem;
}

.header-secciones nav {
  padding-top: 0rem;
}

.header-secciones .ul_index {
  list-style-type: none;
}

.header-secciones .ul_index .li_index {
  display: inline;
}

.nav-index {
  /* Clase para menu hamburguesa  */
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: #2B2D42;
  color: whitesmoke;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  margin-bottom: 0rem;
}

.nav-index .navbar-alinear {
  font-family: 'Barlow Semi Condensed', sans-serif;
  color: whitesmoke;
  text-decoration: none;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 100%;
  background-color: #2B2D42;
  font-size: 1.2rem;
}

/* Traigo header */
* {
  margin: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

footer {
  background-color: #ef233c;
  color: white;
  min-height: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

footer .socialmedia a {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  color: whitesmoke;
  height: 1.8rem;
  width: 1.8rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  text-decoration: none;
  margin: 0 1rem;
  background-color: #2B2D42;
  -webkit-transition: -webkit-transform 0.3s;
  transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  transition: transform 0.3s, -webkit-transform 0.3s;
}

footer .socialmedia a:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media (min-width: 1px) and (max-width: 479px) {
  /* Para pantallas mobile */
  footer {
    background-color: #ef233c;
    color: white;
    min-height: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .socialmedia a:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@media (min-width: 480px) and (max-width: 767px) {
  /* Para tablet */
  footer {
    background-color: #ef233c;
    color: white;
    min-height: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .socialmedia a:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@media (min-width: 768px) and (max-width: 1023px) {
  /* Para pantallas desktop */
  footer {
    background-color: #ef233c;
    color: white;
    min-height: 1rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  footer .socialmedia a:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

/* Traigo footer */
.main {
  /* Para pantallas en general */
  background-color: #eef0f2;
  font-family: 'Barlow Semi Condensed', sans-serif;
}

h1 {
  text-align: center;
  font-family: 'Barlow Semi Condensed', sans-serif;
  background-color: #e90808;
  color: whitesmoke;
}

h1 .h2_index {
  text-align: center;
  font-size: 2rem;
  background-color: black;
  color: whitesmoke;
  margin-left: 0.6rem;
  margin-right: 0.6rem;
  margin-top: 2rem;
  border-radius: 1rem;
}

.grid-container {
  /* Para contenedor general */
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 25% 25% 25% 25%;
      grid-template-columns: 25% 25% 25% 25%;
  -ms-grid-rows: 20% 20% 20% 20% 20%;
      grid-template-rows: 20% 20% 20% 20% 20%;
}

.grid-container .grid-piloto {
  /* Contenedor de cada piloto */
  border: 2px solid red;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 25% 50% 25%;
      grid-template-rows: 25% 50% 25%;
  border-radius: 1rem;
  height: 30rem;
  margin: 0.5rem;
}

.grid-container .grid-piloto .grid-nombre {
  /* Contenedor de nombre */
  font-family: 'Bangers', cursive;
  font-size: 3rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.grid-container .grid-piloto .grid-imagen {
  /* Contendor de imagen */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.grid-container .grid-piloto .grid-descripcion {
  /* Contenedor de descripción */
  font-size: 1rem;
  font-weight: bold;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 100%;
      grid-template-columns: 100%;
  -ms-grid-rows: 25% 25% 25% 25%;
      grid-template-rows: 25% 25% 25% 25%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

/* Animación para agrandar imagen */
.zoom {
  -webkit-transition: -webkit-transform .5s;
  transition: -webkit-transform .5s;
  transition: transform .5s;
  transition: transform .5s, -webkit-transform .5s;
}

.zoom:hover {
  -webkit-transform: scale(1.5);
          transform: scale(1.5);
}

@media (min-width: 1px) and (max-width: 425px) {
  /* Para pantallas mobile */
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  .grid-container {
    border: 2px solid black;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 50% 50%;
        grid-template-columns: 50% 50%;
    -ms-grid-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
        grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  }
  .grid-container .grid-piloto {
    border: 0.5px solid red;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 10% 40% 50%;
        grid-template-rows: 10% 40% 50%;
    border-radius: 1rem;
    height: 10rem;
    margin: 0.5rem;
  }
  .grid-container .grid-piloto .grid-nombre {
    font-family: 'Bangers', cursive;
    font-size: 0.9rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .grid-container .grid-piloto .grid-imagen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
    height: auto;
  }
  .grid-container .grid-piloto .grid-descripcion {
    font-size: 0.7rem;
    font-weight: bold;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 25% 25% 25% 25%;
        grid-template-rows: 25% 25% 25% 25%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .grid-container .zoom {
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
  }
  .grid-container .zoom:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@media (min-width: 426px) and (max-width: 768px) {
  /* Para tablet */
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  .grid-container {
    border: 2px solid black;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 33% 33% 33%;
        grid-template-columns: 33% 33% 33%;
    -ms-grid-rows: 14% 14% 14% 14% 14% 14% 14%;
        grid-template-rows: 14% 14% 14% 14% 14% 14% 14%;
    padding-top: 0.5rem;
  }
  .grid-container .grid-piloto {
    border: 0.5px solid red;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 10% 40% 50%;
        grid-template-rows: 10% 40% 50%;
    border-radius: 1rem;
    height: 98%;
    margin: 0.5rem;
  }
  .grid-container .grid-piloto .grid-nombre {
    font-family: 'Bangers', cursive;
    font-size: 1.5rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .grid-container .grid-piloto .grid-imagen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .grid-container .grid-piloto .grid-descripcion {
    font-size: 1rem;
    font-weight: bold;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 25% 25% 25% 25%;
        grid-template-rows: 25% 25% 25% 25%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .zoom {
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
  }
  .zoom:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  /* Para pantallas desktop */
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  .grid-container {
    border: 2px solid black;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 33% 33% 33%;
        grid-template-columns: 33% 33% 33%;
    -ms-grid-rows: 14% 14% 14% 14% 14% 14% 14%;
        grid-template-rows: 14% 14% 14% 14% 14% 14% 14%;
    padding-top: 0.5rem;
  }
  .grid-container .grid-piloto {
    border: 0.5px solid red;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 10% 40% 50%;
        grid-template-rows: 10% 40% 50%;
    border-radius: 1rem;
    height: 98%;
    margin: 0.5rem;
  }
  .grid-container .grid-piloto .grid-nombre {
    font-family: 'Bangers', cursive;
    font-size: 1.5rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .grid-container .grid-piloto .grid-imagen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .grid-container .grid-piloto .grid-descripcion {
    font-size: 1rem;
    font-weight: bold;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 25% 25% 25% 25%;
        grid-template-rows: 25% 25% 25% 25%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .zoom {
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
  }
  .zoom:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}

@media (min-width: 1025px) and (max-width: 1200px) {
  /* Pantallas de mayor tamaño */
  * {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    margin: 0;
  }
  .grid-container {
    border: 2px solid black;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 25% 25% 25% 25%;
        grid-template-columns: 25% 25% 25% 25%;
    -ms-grid-rows: 20% 20% 20% 20% 20%;
        grid-template-rows: 20% 20% 20% 20% 20%;
  }
  .grid-container .grid-piloto {
    border: 0.5px solid red;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 10% 45% 45%;
        grid-template-rows: 10% 45% 45%;
    border-radius: 1rem;
    height: 10rem;
    margin: 0.5rem;
  }
  .grid-container .grid-piloto .grid-nombre {
    font-family: 'Bangers', cursive;
    font-size: 1rem;
    text-align: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .grid-container .grid-piloto .grid-imagen {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .grid-container .grid-piloto .grid-descripcion {
    font-size: 0.7rem;
    font-weight: bold;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 100%;
        grid-template-columns: 100%;
    -ms-grid-rows: 25% 25% 25% 25%;
        grid-template-rows: 25% 25% 25% 25%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .zoom {
    -webkit-transition: -webkit-transform .5s;
    transition: -webkit-transform .5s;
    transition: transform .5s;
    transition: transform .5s, -webkit-transform .5s;
  }
  .zoom:hover {
    -webkit-transform: scale(1.5);
            transform: scale(1.5);
  }
}
/*# sourceMappingURL=pilotos.css.map */