*{
    margin: 0;
    box-sizing: border-box;
}

@import "header"; /* Traigo header */
@import "footer"; /* Traigo footer */


.main{ /* Para pantallas en general */
    background-color: #eef0f2;
    font-family: 'Barlow Semi Condensed', sans-serif;
}

h1{
    text-align: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: rgb(233, 8, 8);
    color: whitesmoke;

    .h2_index{
        text-align: center;
        font-size: 2rem;
        background-color: black;
        color: whitesmoke;
        margin-left: 0.6rem;
        margin-right: 0.6rem;
        margin-top: 2rem;
        border-radius: 1rem;
    }
}

.grid-container{ /* Para contenedor general */
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    grid-template-rows: 20% 20% 20% 20% 20%;  

    .grid-piloto{ /* Contenedor de cada piloto */
        border: 2px solid red;
        display: grid;
        grid-template-columns: 100%;
        grid-template-rows: 25% 50% 25%;
        border-radius: 1rem;
        height: 30rem;
        margin: 0.5rem;

        .grid-nombre{ /* Contenedor de nombre */
            font-family: 'Bangers', cursive;
            font-size: 3rem;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: start;
            flex-wrap: wrap;
        }

        .grid-imagen{ /* Contendor de imagen */
            display: flex;
            justify-content: center;  
        }
        .grid-descripcion{  /* Contenedor de descripción */
            font-size: 1rem;
            font-weight: bold;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 25% 25% 25% 25%;
            justify-content:center;
            align-items: center;
            text-align: center;
        }

    }
    
}

/* Animación para agrandar imagen */

.zoom{ 
    transition: transform .5s
}
.zoom:hover{
    transform: scale(1.5);
}



@media (min-width: 1px) and (max-width: 426px){          /* Para pantallas mobile */
    *{
        box-sizing: border-box;
        margin: 0;
    }
    .grid-container{
        border: 2px solid black;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;  

        .grid-piloto{
            border: 0.5px solid red;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 10% 40% 50%;
            border-radius: 1rem;
            height: 10rem;
            margin: 0.5rem;

             .grid-nombre{
                font-family: 'Bangers', cursive;
                font-size: 0.9rem;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: start;
                flex-wrap: wrap;
            }

            .grid-imagen{
                display: flex;
                justify-content: center;
                width: 100%;
                height: auto;
            }
            
            .grid-descripcion{ 
                font-size: 0.7rem;
                font-weight: bold;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: 25% 25% 25% 25%;
                justify-content:center;
                align-items: center;
                text-align: center;
                flex-wrap: wrap;
            }   
        
        }
        
        .zoom{
            transition: transform .5s;
        }
        .zoom:hover{
            transform: scale(1.5);
        } 
    }
    
   
}
@media (min-width: 376px) and (max-width: 426px){
    *{
        box-sizing: border-box;
        margin: 0;
    }
    .grid-container{
        border: 2px solid black;
        display: grid;
        grid-template-columns: 50% 50%;
        grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;  

        .grid-piloto{
            border: 0.5px solid red;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 10% 40% 50%;
            border-radius: 1rem;
            height: 10rem;
            margin: 0.5rem;

             .grid-nombre{
                font-family: 'Bangers', cursive;
                font-size: 0.9rem;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: start;
                flex-wrap: wrap;
            }

            .grid-imagen{
                display: flex;
                justify-content: center;
                width: 100%;
                height: auto;
            }
            
            .grid-descripcion{ 
                font-size: 0.7rem;
                font-weight: bold;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: 25% 25% 25% 25%;
                justify-content:center;
                align-items: center;
                text-align: center;
                flex-wrap: wrap;
            }   
        
        }
        
        .zoom{
            transition: transform .5s;
        }
        .zoom:hover{
            transform: scale(1.5);
        } 
    }
    
   
}

@media (min-width: 427px) and (max-width: 768px){       /* Para tablet */
    *{
        box-sizing: border-box;
        margin: 0;
    }
    .grid-container{
        border: 2px solid black;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 14% 14% 14% 14% 14% 14% 14%; 
        padding-top: 0.5rem;

        .grid-piloto{
            border: 0.5px solid red;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 10% 40% 50%;
            border-radius: 1rem;
            height: 98%;
            margin: 0.5rem;

            .grid-nombre{
                font-family: 'Bangers', cursive;
                font-size: 1.5rem;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: start;
                flex-wrap: wrap;
            }
            .grid-imagen{
                display: flex;
                justify-content: center;  
                width: 100%;
            }
            .grid-descripcion{ 
                font-size: 1rem;
                font-weight: bold;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: 25% 25% 25% 25%;
                justify-content:center;
                align-items: center;
                text-align: center;
                flex-wrap: wrap;
            }   
        }
    }
   
    .zoom{
        transition: transform .5s
    }
    .zoom:hover{
        transform: scale(1.5);
    }
   
}
@media (min-width: 769px) and (max-width: 1024px){ /* Para pantallas desktop */
    *{
        box-sizing: border-box;
        margin: 0;
    }
    .grid-container{
        border: 2px solid black;
        display: grid;
        grid-template-columns: 33% 33% 33%;
        grid-template-rows: 14% 14% 14% 14% 14% 14% 14%; 
        padding-top: 0.5rem;

        .grid-piloto{
            border: 0.5px solid red;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 10% 40% 50%;
            border-radius: 1rem;
            height: 98%;
            margin: 0.5rem;

            .grid-nombre{
                font-family: 'Bangers', cursive;
                font-size: 1.5rem;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: start;
                flex-wrap: wrap;
            }
            .grid-imagen{
                display: flex;
                justify-content: center;  
                width: 100%;
            }
            .grid-descripcion{ 
                font-size: 1rem;
                font-weight: bold;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: 25% 25% 25% 25%;
                justify-content:center;
                align-items: center;
                text-align: center;
                flex-wrap: wrap;
            }   
        }
    }
   
    .zoom{
        transition: transform .5s
    }
    .zoom:hover{
        transform: scale(1.5);
    }
   
}  

@media (min-width: 1025px) and (max-width: 1200px){ /* Pantallas de mayor tamaño */
    *{
        box-sizing: border-box;
        margin: 0;
    }
    .grid-container{
        border: 2px solid black;
        display: grid;
        grid-template-columns: 25% 25% 25% 25%;
        grid-template-rows: 20% 20% 20% 20% 20%; 

        .grid-piloto{
            border: 0.5px solid red;
            display: grid;
            grid-template-columns: 100%;
            grid-template-rows: 10% 45% 45%;
            border-radius: 1rem;
            height: 10rem;
            margin: 0.5rem;
           
            .grid-nombre{
                font-family: 'Bangers', cursive;
                font-size: 1rem;
                text-align: center;
                display: flex;
                justify-content: center;
                align-items: start;
                flex-wrap: wrap;
            }
            .grid-imagen{
                display: flex;
                justify-content: center;  
            }
            .grid-descripcion{ 
                font-size: 0.7rem;
                font-weight: bold;
                display: grid;
                grid-template-columns: 100%;
                grid-template-rows: 25% 25% 25% 25%;
                justify-content:center;
                align-items: center;
                text-align: center;
                flex-wrap: wrap;
            } 
        }
    }
    .zoom{
        transition: transform .5s
    }
    .zoom:hover{
        transform: scale(1.5);
    }
      
}

