*{
    margin: 0;
    box-sizing: border-box;
}

@import "header";

.main{
    background-color: #eef0f2;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
h1{
    text-align: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
}
.h2_index{
    text-align: center;
    font-size: 2rem;
    background-color: black;
    color: whitesmoke;
    margin-left: 0.6rem;
    margin-right: 0.6rem;
    margin-top: 2rem;
    border-radius: 1rem;
}

form{
    background-color: #EDF2F4;
    font-family: 'Barlow Semi Condensed', sans-serif;
    font-weight: bold;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
    border-radius: 1rem;
    margin: 0.5rem;
    padding: 1rem;
}

.div-forms{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;  
}

.h1-forms{
    text-align: center;
    font-family: 'Barlow Semi Condensed', sans-serif;
    background-color: #ef233c; 
    color: whitesmoke;
    font-size: 1.5rem;
    margin-left: 21rem;
    margin-right: 21rem;
    border-radius: 1rem;
}

@for $i from 2 to 7 {
    h#{$i}{
        color:#410315*($i*10) ;
    }

}

.espacio-botones{
    margin-right: 1.5rem;
}


@media (min-width: 1px) and (max-width: 479px){ /* Para pantallas mobile */
    *{
        font-family: 'Barlow Semi Condensed', sans-serif;
        box-sizing: border-box;
        margin: 0;
    }
    form{
        background-color: #EDF2F4;
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-weight: bold;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-radius: 1rem;
        margin: 0.5rem;
        padding: 1rem;
    }
  
    .h1-forms{
        text-align: center;
        background-color: #ef233c;
        color: whitesmoke;
        font-size: 1rem;
        margin-left: 2rem;
        margin-right: 2rem;
        border-radius: 0.5rem;
    }
    

}

@media (min-width: 480px) and (max-width: 767px){ /* Para tablet */
    *{
        font-family: 'Barlow Semi Condensed', sans-serif;
        box-sizing: border-box;
        margin: 0;
    }
    form{
        background-color: #EDF2F4;
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-weight: bold;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-radius: 1rem;
        margin: 0.5rem;
        padding: 1rem;
    }
  
    .h1-forms{
        text-align: center;
        background-color: #ef233c;
        color: whitesmoke;
        font-size: 1.3rem;
        margin-left: 2rem;
        margin-right: 2rem;
        border-radius: 0.5rem;
    }
   

    
}
@media (min-width: 768px) and (max-width: 1023px){ /* Para pantallas desktop */
    *{
        font-family: 'Barlow Semi Condensed', sans-serif;
        box-sizing: border-box;
        margin: 0;
    }
    form{
        background-color: #EDF2F4;
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-weight: bold;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-radius: 1rem;
        margin: 1rem;
        padding: 1rem;
    }
  
    .h1-forms{
        text-align: center;
        background-color: #ef233c;
        color: whitesmoke;
        font-size: 1.6rem;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        border-radius: 0.5rem;
    }
    

    
}
@media (min-width: 1024px) and (max-width: 1200px){ /* Pantallas de mayor tamaño */

    form{
        background-color: #EDF2F4;
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-weight: bold;
        width: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid black;
        border-radius: 1rem;
        margin: 0.5rem;
        padding: 1rem;
    }

    .div-forms{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;  
}

    .h1-forms{
        text-align: center;
        font-family: 'Barlow Semi Condensed', sans-serif;
        background-color: #ef233c; 
        color: whitesmoke;
        font-size: 1.5rem;
        margin-left: 17rem;
        margin-right: 17rem;
        border-radius: 1rem;
}

    .espacio-botones{
        margin-right: 1.5rem;
}

}

    .opcion-trabaja{
        font-family: 'Barlow Semi Condensed', sans-serif;
        font-weight: bold;
}


@import "footer"; /* Import del footer */
